streamlit==1.27.0
pillow==9.4.0
pandas==1.5.3
numpy==1.23.5
scikit-learn==1.2.2
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz#egg=en_core_web_sm